/vendor
/node_modules
/public/storage
/public/vendor
/public/upload
Homestead.yaml
Homestead.json
.env
/bootstrap/compiled.php
/build/logs
/build/coverage
/app/tests/_log
composer.phar
.DS_Store
/.idea
/_ide_helper.php
/app/config/packages
/public/packages
.env.example
.gitattributes

